.info {
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
  background: rgba(108, 95, 188, 1);
  div {
    text-align: center;
    padding: 40px 40px 40px 40px;
    h1 {
      padding: 20px;
      color: white;
      font-size: 43px;
      font-weight: 700;
    }
    span {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
      color: rgba(203, 213, 225, 1);
    }
  }
}
