.page_menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
    article{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 80px;
        align-items: flex-start;
        h1{
            font-size: 45px;
            span{
                color:#6c5fbc
            };
        }
       ul{
        padding-left: 15px;
        font-size: 18px;
        color: #676767;
        display: flex;
        flex-direction: column;
        gap: 25px;  
       }
       button{
        display: flex;
        padding: 15px 20px;
        border-radius: 20px;
        border: 1px solid #6c5fbc;
        cursor: pointer;
        color:white;
        background: #6c5fbc;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        img{
            transition: .5s;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
       }
       
        

    }
}